.featured .heading {
    padding: 3rem 0;
    text-align: center;
    font-size: var(--big-font-size);
}


.featured .heading span {
    color: var(--main-color-alt);
}

.featured .featured--container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.featured .featured--container .box {
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
}

.featured .featured--container .box img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .featured--container .box:hover img {
    transform: scale(.9);
    border-radius: 1rem;
}



