.gallery .gallery--container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem; */
    text-align: center;
 
}

 


.gallery  .heading {
    padding: 3rem 0;
    text-align: center;
    font-size: var(--big-font-size);
}

.gallery .heading span {
      color: var(--main-color-alt);
}


.gallery .gallery--container .content img{
    max-width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}

