

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
}

.services .heading {
    padding: 3rem 0;

    text-align: center;
    font-size: var(--big-font-size);
}

.services .heading span {
    color: var(--main-color-alt);

}


.services .box-container .box {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
}

.services .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background: var(--yellow);
    color: var(--black);
}

.services .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--dark-color);
}

.services .box-container .box p {
    line-height: 1.8;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--dark-color-alt);
}

/* .services .box-container .box:hover {
  
    border: .1rem solid rgb(233, 20, 20);

} */


.services .box-container .box .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
 background-color: #ffffff;
 color: var(--dark-color-alt);
 border: .1rem solid rgb(228, 179, 179);
  
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
 
}

.services .box-container .box:hover .btn {

    background-color: var(--main-color-alt);
    color: #fff;
    border: .1rem solid rgb(248, 247, 247);
}