
 .category .toy--card{
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
     gap: 2rem;
 }

.category .heading h3 {
    padding: 3rem 0;
    text-align: center;
    font-size: var(--big-font-size);
}


.category .heading span {
    color: var(--main-color-alt);
}

.category .category--tab  {
    text-align: center;


}

.category .category--tab button{
  background: #ffffff;
border-top: var(--border);
    border: none;
    margin-right: 2rem;
border-bottom: var(--border);
    padding: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}