/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*=============== BASE ===============*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
    /* transition: 0.3s ease; */

}


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*56px*/

    /*========== Colors ==========*/
    --dark-color: #191D28;
    --dark-color-alt: #1e222d;
    --main-color: #f0083f;
    --main-color-alt: #ff164c;
    --title-color: #ffffff;
    --text-color: #e9e9e9;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);



}



/*=============== BUTTONS ===============*/
.button {
    font-size: var(--h2-font-size);
    display: inline-block;
    background-color: var(--main-color);
    color: var(--title-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--main-color-alt);
}

.button__icon {
    transition: .3s;
}

.button:hover .button__icon {
    transform: translateX(.25rem);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}






/*=============== REUSABLE CSS CLASSES ===============*/
html {
    font-size: 62.5%;
    overflow-x: hidden;
}


section {
    padding: 5rem 10%;
}


.outlet {
    min-height: 90vh;
}



/* =============== X LARGE DEVICE RESPONSIVE START HERE =============== */
@media (max-width: 1200px) {}




/*=============== LARGE DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 992px) {
    html {
        font-size: 55%;
        /* scroll-padding-top: 7rem; */
    }

    header {
        padding: 2rem 2rem;
    }

    section {
        padding: 1rem;
    }
}



/*=============== MEDIUM DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 768px) {}



/*=============== SMALL DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 576px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 3rem;
    }
}



/*=============== X SMALL DEVICE RESPONSIVE START HERE ===============*/
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 3rem;
    }
}

